html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
a {
    text-decoration: none;
    color:black;
}
body {
    margin: 0px;
    margin-bottom: 60px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}
.btn_accord{
    width:120px;
    border-radius:20px;
    color:white;
}
.btn_accordP {
    background-color: #943db8;
}
.btn_accordR{
    background-color: #e42929;
}
.btn_accordG {
    background-color: #228b22;
}

.nav-tabs .nav-item .nav-link {
    color: #4C4C4C;
}
.nav-tabs{
    border:none;
}

a {
    text-decoration: none;
}

.nav-tabs .nav-item .nav-link.active {
    color: #18b6d1;
    font-weight: 500;
    border: none;
    border-bottom: 2px solid #18b6d1;
}

#admin_cards button div{
    border-radius: 10px;
}
#admin_cards button{
    margin-bottom:30px;
}

.element {
    height: 30px;
    width: 30px;
    display:none;
    clip-path: polygon(0% 0%,100% 0%,50% 50%);
}
.activeElement{
    display:block !important;
}

.activeCard0 {
    color: white !important;
    background-color: #213f99 !important;
}

.activeCard1 {
    color: white !important;
    background-color: #18b6d1 !important;
}

.activeCard2 {
    color: white !important;
    background-color: #228c20 !important;
}

.activeCard3 {
    color: white !important;
    background-color: #da1384 !important;
}

.activeCard4 {
    color: white !important;
    background-color: #3c9edb !important;
}

.activeCard5 {
    color: white !important;
    background-color: #ce71fd !important;
}

.btn_admin {
    background-color: #02bceb;
    color: white;
    border-radius: 5px;
}
.icon_input{
    position:absolute;
}
.bi-search{
    position:relative;
    top:-32px;
    left:5px;
}
.btn_dashtable{
    border:1px solid white;
    border-radius:5px;
    color:white;
    background-color:transparent;
}

.requestColor_1{
    background-color: #61ad63 !important;
}
.requestColor_2{
    background-color: #e89026 !important;
}
.requestColor_3 {
    background-color: #db657b !important;
}
.requestColor_4{
    background-color: #047aba !important;
}

.group {
    position: relative;
    margin: 20px 0;
}

.placeholder {
    position: absolute;
    background-color: transparent;
    color: var(--placeholder-color);
    top: 10px;
    left: 1.5rem;
}

.input-field:not(:placeholder-shown) + .placeholder, .input-field:focus + .placeholder {
    margin-top: -5px;
    font-size: 10px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.15s ease-out;
    color: #01BCE9;
}

.viewNote {
    border-radius: 10px;
    min-height: 120px;
    background-color:white;
}

    .viewNote div {
        margin-left: 30px;
    }
.btn_dash {
    color: #00b3fa;
    border: 1px solid #00b3fa;
    border-radius: 5px;
}
.form-control:focus {
    border: 2px solid #00b3fa;
    box-shadow: none;
}
.modal-header {
    background-color: #18b6d1;
    color: white;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border:none;
}
,modal-content{
    border-radius:5px;
    border:none;
}

.accordion-button::after {
    display:none;
    background-image:none;
}

@media only screen and (max-width:700px) {
    .dashboardTable, .responsivehide {
        display: none;
    }
    .accordion-button, .accordion-body, .accordion-button:not(.collapsed) {
        color: black;
        background-color: #ebfafd !important;
    }
    #accordionExample, .responsiveshow {
        display: block;
    }

    .btn_showdoc, .accordion-button, .accordion-body {
        background-color: #bbeef7;
    }
}

@media only screen and (min-width:700px) {
    #accordionExample, .responsiveshow {
        display: none;
    }

    .med_history {
        padding: 3rem;
    }
}