@model HalloDoc_Admin_.Entities.ViewModel.ViewNotesData
@{
}

<div class="container">
    <div class="d-flex flex-row justify-content-between align-items-baseline mb-3">
        <h2>Notes</h2>
        <button type="button" class="btn my-3 btn_dash">
            <img src="" style="transform: rotate(90deg);display: inline-block;" />
            <span>Back</span>
        </button>
    </div>
    <div class="row justify-content-between">
        <div class="col-lg-5 col-sm-12 shadow d-flex flex-row p-2 align-items-center mb-4 viewNote">
            <img src="/images/icons/transfer-svgrepo-com.svg" style="height: auto; width:50px" />
            <div>
                <h4>Transfer Notes</h4>
                <div>
                    @if (Model != null)
                    {
                        if (Model.TransferNote != null)
                        {
                            @foreach(var note in Model.TransferNote)
                            @note
                        }
                        else
                        {
                        <p>-</p>
                        }
                    }
                    else
                    {
                            <p>-</p>
                    }

                </div>
            </div>
        </div>
        <div class="col-lg-5 col-sm-12 shadow d-flex flex-row p-2 align-items-center mb-4 viewNote" onclick="setData('physicianNote')">
            <img src="/images/icons/doctor-svgrepo-com.svg" style="width:50px;height:auto;" />
            <div>
                <h4>Physician Notes</h4>
                <div id="physicianNote">
                    @if (Model != null)
                    {
                        if (Model.physicianNote != null)
                        {
                        @Model.physicianNote
                        }
                        else
                        {
                        <p>-</p>
                        }
                    }
                    else
                    {
                        <p>-</p>
                    }
                 </div>
            </div>
        </div>
        <div class="col-lg-5 col-sm-12 shadow d-flex flex-row p-2 align-items-center mb-4 viewNote" onclick="setData('adminNote')">
            <img src="/images/icons/admin-users-svgrepo-com.svg" style="width:50px;height:auto;" />
            <div>
                <h4>Admin Note</h4>
                <div id="adminNote">
                    @if (Model != null)
                    {
                        if (Model.adminNote != null)
                        {
                            @Model.adminNote
                        }
                        else
                        {
                            <p>-</p>
                        }
                    }
                    else
                    {
                        <p>-</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <form class="row p-3 shadow bg-white" style="border-radius:10px;" asp-controller="Action" asp-action="updateNotes" asp-route-id="@Model.requestId" method="post" enctype="multipart/form-data">
        <div class="group mb-3 col-12">
            <textarea class="form-control input-field p-3" id="editNote" rows="5" placeholder="" name="Notes" required></textarea>
            <label for="" class="placeholder" id="noteTitle">Symptoms</label>
        </div>
            <input type="hidden" value="" id="noteType" name="noteType"/>
        <div class="mx-3 text-end">
            <button class="btn btn_admin" type="submit">
                Save Changes
            </button>
        </div>
    </form>

</div>
<script>
    function setData(noteId)
    {
        document.getElementById('editNote').value = document.getElementById(noteId).innerText.trim();
        if (noteId == "physicianNote")
        {
            document.getElementById('noteTitle').innerText="Physician Note";
            document.getElementById('noteType').value="Physician";
        }
        else
        {
            document.getElementById('noteTitle').innerText = "Admin Note";
            document.getElementById('noteType').value = "Admin";
        }
    }
</script>
